@import "compass/css3";

.dialog {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.6);
	z-index: 999;
	display: none;

	&.active {
		display: block;
	}

	.card.up-offset {
		margin-top: 5%;
	}

	.card {
		margin: auto;
		margin-top: 10%;
		width: 600px;
		background-color: #FFF;
		padding-top: 20px;
		z-index: 999;

		.title {
			margin-left: 20px;
			background-size: cover;
			&.join {
				background-image: url("../images/dialog_title_join.png");
				width: 239px;
				height: 18px;
			}
			&.login {
				background-image: url("../images/dialog_title_login.png");
				width: 293px;
				height: 18px;
			}
			&.fill {
				background-image: url("../images/dialog_title_fill.png");
				width: 365px;
				height: 40px;
			}
			&.invest {
				background-image: url("../images/dialog_title_invest.png");
				width: 156px;
				height: 20px;
			}
		}

		.close-btn {
			float: right;
			width: 20px;
			height: 20px;
			margin-right: 20px;
			background-image: url("../images/close_btn.png");
			background-size: cover;
			cursor: pointer;
		}

		.form {
			width: 430px;
			margin-top: 50px;
			padding-bottom: 55px;
			margin-left: auto;
			margin-right: auto;
			.form-line {
				width: 430px;
				height: 40px;
				margin-top: 15px;
				.label {
					&::after {
						content: "：";
					}
					text-align: right;
					width: 90px;
					height: 40px;
					display: inline-block;
					font-family: "Microsoft YaHei";
					margin-right: 10px;

				}
				.input {
					line-height: 38px;
					width: 288px;
					height: 40px;
					padding-left: 10px;
					display: inline-block;
					border: 1px solid #000;
					&.wrong {
						border: 1px solid #ea5513;
					}
				}
				
			}
			.form-line2 {
				width: 430px;
				height: 20px;
				margin-top: 22px;
				.label {
					&::after {
						content: "：";
					}
					text-align: right;
					width: 80px;
					height: 40px;
					display: inline-block;
					font-family: "Microsoft YaHei";
					margin-right: 20px;
				}
				.radio-text {
					font-size: 13px;
					content: #000;
					margin-left: 6px;
					margin-right: 22px;
					&:last-child {
						margin-right: 0;
					}
				}
			}
			.form-line3 {
				margin-top: 22px;
				p {
					font-size: 14px;
					color: #000;
				}
				.radio-div {
					margin-left: 100px;
					div {
						margin-top: 15px;
					}
					.radio-text {
						font-size: 13px;
						content: #000;
						margin-left: 6px;
						margin-right: 24px;
						&:last-child {
							margin-right: 0;
						}
					}
				}
			}
			.btn {
				display: block;
				margin-top: 32px;
				margin-left: auto;
				margin-right: auto;
				width: 165px;
				height: 40px;
				background-color: #58bddb;
				font-size: 18px;
				color: #fff;
				line-height: 40px;
				text-align: center;
				cursor: pointer;
			}
			.link {
				display: block;
				margin-top: 17px;
				font-size: 12px;
				line-height: 12px;
				text-decoration: underline;
				color: #58bddb;
				text-align: center;
				cursor: pointer;
			}
		}
		.wrong-msg {
			margin-top: 21px;
			font-size: 11px;
			line-height: 20px;
			color: #ea5513;
			text-align: center;
			&::before {
				content: '';
				width: 20px;
				height: 20px;
				display: inline-block;
				margin-right: 6px;
				background-image: url("../images/red_close.png");
				background-size: cover;
				vertical-align: top;
			}
		}
		.done {
			margin-top: 80px;
			padding-bottom: 72px;
			.done-img {
				width: 150px;
				height: 150px;
				background-image: url("../images/done.png");
				background-size: cover;
				margin-left: auto;
				margin-right: auto;
			}
			.success-text {
				margin-top: 25px;
				font-size: 24px;
				line-height: 24px;
				text-align: center;
				color: #000;
			}
			.more-text {
				font-size: 14px;
				line-height: 14px;
				color: #000;
				text-align: center;
				margin-top: 36px;
			}
		}
		.apply {
			margin-top: 50px;
			margin-left: auto;
			margin-right: auto;
			padding-bottom: 55px;
			width: 440px;
			.outter-border {
				width: 100%;
				border: 1px double black;
				padding: 4px;
				.inner-border {
					text-align: center;
					border: 1px double black;
					.text {
						margin-top: 20px;
						font-family: "Microsoft YaHei";
						font-size: 12px;
						line-height: 12px;
						color: #000;
					}
					.count {
						margin-top: 8px;
						font-family: "Microsoft YaHei";
						font-size: 52px;
						line-height: 52px;
						color: #000;
						&::before {
							content: '￥';
							font-size: 18px;
						}
					}
				}
			}
			.info {
				text-align: center;
				margin-top: 26px;
				.line-1 {
					font-size: 18px;
					color: #888;
				}
				.line-2 {
					margin-top: 15px;
					font-size: 14px;
					color: #888;
				}
			}
			.agreements {
				margin-top: 40px;
				font-size: 12px;
				a {
					color: #000;
				}
				.agreement {
					margin-bottom: 8px;
					display: inline-block;
					width: 15px;
					position: relative;
					margin-right: 15px;
					label {
						border: 1px solid #000;
						width: 15px;
						height: 15px;
						cursor: pointer;
						position: absolute;
						top: 0;
						left: 0;
						background: linear-gradient(top, #fff 0%, #fff 100%);
						&:after {
							content: '';
							width: 9px;
							height: 5px;
							position: absolute;
							top: 2px;
							left: 2px;
							border: 3px solid #000;
							border-top: none;
							border-right: none;
							background: transparent;
							opacity: 0;
							transform: rotate(-45deg);
						}
						&:hover::after {
							opacity: 0.3;
						}
					}
					input[type=checkbox] {
						visibility: hidden;
						&:checked + label:after {
							opacity: 1;
						}    
					}
				}
				p.line {
					width: 200px;
					display: inline-block;
				}
			}
			.btn {
				text-decoration: none;
				display: block;
				margin-top: 35px;
				margin-left: auto;
				margin-right: auto;
				width: 165px;
				height: 40px;
				background-color: #58bddb;
				font-size: 18px;
				color: #fff;
				line-height: 40px;
				text-align: center;
				cursor: pointer;
			}
		}
	}
}



.black {
	color: #000;
}

::-webkit-input-placeholder {
	color: #999;
	font-family: "Microsoft YaHei";
	font-size: 12px;
}

:-moz-placeholder { /* Firefox 18- */
	color: #999;
	font-family: "Microsoft YaHei";
	font-size: 12px;
}

::-moz-placeholder {  /* Firefox 19+ */
	color: #999;
	font-family: "Microsoft YaHei";
	font-size: 12px;
}

:-ms-input-placeholder {  
	color: #999;
	font-family: "Microsoft YaHei";
	font-size: 12px;
}