doctype html
html(lang="zh-cn")
	head
		meta(charset="utf-8")
		meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		meta(name="renderer", content="webkit")
		meta(name="author", content="WlliTeam")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		title 创次方 | 团队介绍
		link(href="./stylesheets/product.css", rel="stylesheet")
		link(href="./stylesheets/dialog.css", rel="stylesheet")
	body
		div.dialog.active
			div.card
				div.close-btn
				div.title.join
				//- div.title.login
				//- div.title.fill
				//- div.title.invest
				div.form
					form
						div.form-line
							p.label 用户名
							input.input(name="username", type="text", placeholder="您在创次方的名号")
						div.form-line
							p.label 邮 箱
							input.input.wrong(name="username", type="text", placeholder="您在创次方的名号")
						button.btn 注册
					p.wrong-msg 你填写的邮箱已被注册过，赶紧登录吧！
					p.link 已有创次方帐号？登录
		div.banner
			div.container.horizontal-center
				div.logo.horizontal-center
				div.left
					div.back
					a(href="/") 返回首页
				div.right
					a.signup 注册
					a.login 登录
		div.team.container.horizontal-center
			div.member-1.horizontal-center
			div.member-2.horizontal-center
			div.member-3.horizontal-center
			div.member-4.horizontal-center
			div.member-5.horizontal-center
		div.container.horizontal-center
			div.contact.horizontal-center