@charset "UTF-8";
.dialog {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
  display: none; }
  .dialog.active {
    display: block; }
  .dialog .card.up-offset {
    margin-top: 5%; }
  .dialog .card {
    margin: auto;
    margin-top: 10%;
    width: 600px;
    background-color: #FFF;
    padding-top: 20px;
    z-index: 999; }
    .dialog .card .title {
      margin-left: 20px;
      background-size: cover; }
      .dialog .card .title.join {
        background-image: url("../images/dialog_title_join.png");
        width: 239px;
        height: 18px; }
      .dialog .card .title.login {
        background-image: url("../images/dialog_title_login.png");
        width: 293px;
        height: 18px; }
      .dialog .card .title.fill {
        background-image: url("../images/dialog_title_fill.png");
        width: 365px;
        height: 40px; }
      .dialog .card .title.invest {
        background-image: url("../images/dialog_title_invest.png");
        width: 156px;
        height: 20px; }
    .dialog .card .close-btn {
      float: right;
      width: 20px;
      height: 20px;
      margin-right: 20px;
      background-image: url("../images/close_btn.png");
      background-size: cover;
      cursor: pointer; }
    .dialog .card .form {
      width: 430px;
      margin-top: 50px;
      padding-bottom: 55px;
      margin-left: auto;
      margin-right: auto; }
      .dialog .card .form .form-line {
        width: 430px;
        height: 40px;
        margin-top: 15px; }
        .dialog .card .form .form-line .label {
          text-align: right;
          width: 90px;
          height: 40px;
          display: inline-block;
          font-family: "Microsoft YaHei";
          margin-right: 10px; }
          .dialog .card .form .form-line .label::after {
            content: "："; }
        .dialog .card .form .form-line .input {
          line-height: 38px;
          width: 288px;
          height: 40px;
          padding-left: 10px;
          display: inline-block;
          border: 1px solid #000; }
          .dialog .card .form .form-line .input.wrong {
            border: 1px solid #ea5513; }
      .dialog .card .form .form-line2 {
        width: 430px;
        height: 20px;
        margin-top: 22px; }
        .dialog .card .form .form-line2 .label {
          text-align: right;
          width: 80px;
          height: 40px;
          display: inline-block;
          font-family: "Microsoft YaHei";
          margin-right: 20px; }
          .dialog .card .form .form-line2 .label::after {
            content: "："; }
        .dialog .card .form .form-line2 .radio-text {
          font-size: 13px;
          content: #000;
          margin-left: 6px;
          margin-right: 22px; }
          .dialog .card .form .form-line2 .radio-text:last-child {
            margin-right: 0; }
      .dialog .card .form .form-line3 {
        margin-top: 22px; }
        .dialog .card .form .form-line3 p {
          font-size: 14px;
          color: #000; }
        .dialog .card .form .form-line3 .radio-div {
          margin-left: 100px; }
          .dialog .card .form .form-line3 .radio-div div {
            margin-top: 15px; }
          .dialog .card .form .form-line3 .radio-div .radio-text {
            font-size: 13px;
            content: #000;
            margin-left: 6px;
            margin-right: 24px; }
            .dialog .card .form .form-line3 .radio-div .radio-text:last-child {
              margin-right: 0; }
      .dialog .card .form .btn {
        display: block;
        margin-top: 32px;
        margin-left: auto;
        margin-right: auto;
        width: 165px;
        height: 40px;
        background-color: #58bddb;
        font-size: 18px;
        color: #fff;
        line-height: 40px;
        text-align: center;
        cursor: pointer; }
        .dialog .card .form .btn.disabled {
          background-color: #a0a0a0;
          cursor: default; }
      .dialog .card .form .link {
        display: block;
        margin-top: 17px;
        font-size: 12px;
        line-height: 12px;
        text-decoration: underline;
        color: #58bddb;
        text-align: center;
        cursor: pointer; }
    .dialog .card .wrong-msg {
      margin-top: 21px;
      font-size: 11px;
      line-height: 20px;
      color: #ea5513;
      text-align: center; }
      .dialog .card .wrong-msg::before {
        content: '';
        width: 20px;
        height: 20px;
        display: inline-block;
        margin-right: 6px;
        background-image: url("../images/red_close.png");
        background-size: cover;
        vertical-align: top; }
    .dialog .card .done {
      margin-top: 80px;
      padding-bottom: 72px; }
      .dialog .card .done .done-img {
        width: 150px;
        height: 150px;
        background-image: url("../images/done.png");
        background-size: cover;
        margin-left: auto;
        margin-right: auto; }
      .dialog .card .done .success-text {
        margin-top: 25px;
        font-size: 24px;
        line-height: 24px;
        text-align: center;
        color: #000; }
      .dialog .card .done .more-text {
        font-size: 14px;
        line-height: 14px;
        color: #000;
        text-align: center;
        margin-top: 36px; }
    .dialog .card .apply {
      margin-top: 50px;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 55px;
      width: 440px; }
      .dialog .card .apply .outter-border {
        width: 100%;
        border: 1px double black;
        padding: 4px; }
        .dialog .card .apply .outter-border .inner-border {
          text-align: center;
          border: 1px double black; }
          .dialog .card .apply .outter-border .inner-border .text {
            margin-top: 20px;
            font-family: "Microsoft YaHei";
            font-size: 12px;
            line-height: 12px;
            color: #000; }
          .dialog .card .apply .outter-border .inner-border .count {
            margin-top: 8px;
            font-family: "Microsoft YaHei";
            font-size: 52px;
            line-height: 52px;
            color: #000; }
            .dialog .card .apply .outter-border .inner-border .count::before {
              content: '￥';
              font-size: 18px; }
      .dialog .card .apply .info {
        text-align: center;
        margin-top: 26px; }
        .dialog .card .apply .info .line-1 {
          font-size: 18px;
          color: #888; }
        .dialog .card .apply .info .line-2 {
          margin-top: 15px;
          font-size: 14px;
          color: #888; }
      .dialog .card .apply .agreements {
        margin-top: 40px;
        font-size: 12px; }
        .dialog .card .apply .agreements a {
          color: #000; }
        .dialog .card .apply .agreements .agreement {
          margin-bottom: 8px;
          display: inline-block;
          width: 15px;
          position: relative;
          margin-right: 15px; }
          .dialog .card .apply .agreements .agreement label {
            border: 1px solid #000;
            width: 15px;
            height: 15px;
            cursor: pointer;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(to bottom, #ffffff 0%, #ffffff 100%); }
            .dialog .card .apply .agreements .agreement label:after {
              content: '';
              width: 9px;
              height: 5px;
              position: absolute;
              top: 2px;
              left: 2px;
              border: 3px solid #000;
              border-top: none;
              border-right: none;
              background: transparent;
              opacity: 0;
              transform: rotate(-45deg); }
            .dialog .card .apply .agreements .agreement label:hover::after {
              opacity: 0.3; }
          .dialog .card .apply .agreements .agreement input[type=checkbox] {
            visibility: hidden; }
            .dialog .card .apply .agreements .agreement input[type=checkbox]:checked + label:after {
              opacity: 1; }
        .dialog .card .apply .agreements p.line {
          width: 200px;
          display: inline-block; }
      .dialog .card .apply .btn {
        text-decoration: none;
        display: block;
        margin-top: 35px;
        margin-left: auto;
        margin-right: auto;
        width: 165px;
        height: 40px;
        background-color: #58bddb;
        font-size: 18px;
        color: #fff;
        line-height: 40px;
        text-align: center;
        cursor: pointer; }
        .dialog .card .apply .btn.disabled {
          background-color: #a0a0a0;
          cursor: default; }

.black {
  color: #000; }

::-webkit-input-placeholder {
  color: #999;
  font-family: "Microsoft YaHei";
  font-size: 12px; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #999;
  font-family: "Microsoft YaHei";
  font-size: 12px; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #999;
  font-family: "Microsoft YaHei";
  font-size: 12px; }

:-ms-input-placeholder {
  color: #999;
  font-family: "Microsoft YaHei";
  font-size: 12px; }
